<header id="main-header">
  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/">keepr</a>
    <button type="submit" class="btn btn-dark">Login</button>
  </nav>
</header>

<section class="nav-org-bar">

  <div class="orgs-in-bar">
    <span class="specific-org"><i class="fas fa-users"></i>Personal</span>
    <span class="specific-org"><i class="fas fa-users"></i>Family Vault</span>
    <span class="specific-org"><i class="fas fa-users"></i>Lighthouse Labs</span>
  </div>

  <div class="new-org">
    <span>
      <a class="btn" href="#" onclick="this.blur();" role="button">
        New Organization <i class="fas fa-plus"></i>
      </a>
    </span>
  </div>

</section>
