<header id="main-header">
  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/">keepr 🔑</a>

    <% if (userId) { %>
      <div class="nav-login-register">
        <span class="login-email">
           <%= email %>
        </span>
        <form action="/logout" method="POST">
          <button type="submit" class="btn btn-dark">Logout</button>
        </form>
      </div>
    <% } else { %>
      <div class="nav-login-register">
        <form action="/login" method="GET">
          <button type="submit" class="btn btn-outline-dark">Login</button>
        </form>
        <form action="/register" method="GET">
          <button type="submit" class="btn btn-dark">Register</button>
        </form>
      </div>
    <% } %>

  </nav>
</header>
