<!DOCTYPE html>
<html lang="en">

<head>
  <title>keepr</title>
  <!-- Favicon wont update/ display -->
  <link rel="icon" type="image/png" href="../public/images/favicon.png" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap" rel="stylesheet">

  <!-- Styles --------------------------------------------------------------------->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <!-- Internal JS  --------------------------------------------------------------->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/copyToClipboard.js"></script>
  <script type="text/javascript" src="/scripts/loadSites.js"></script>
  <script type="text/javascript" src="/scripts/createElement.js"></script>
  <script type="text/javascript" src="/scripts/editForms.js"></script>
  <script type="text/javascript" src="/scripts/searchAndRender.js"></script>

  <!-- External JS   -------------------------------------------------------------->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

</head>

<body>

  <%- include('partials/_header') %>

  <section class="nav-org-bar">

    <div class="orgs-in-bar">
      <% for(const org of userOrgs) { %>
        <span class="specific-org"><i class="fas fa-users"></i><%= org %></span>
      <% } %>
    </div>

    <div class="new-org">
      <span>
        <form id="formAddOrg">
          <input class="new-org-input" type="text" name="org_name" maxlength="30" placeholder="New Organization">
          <button type="submit" onclick="this.blur();" class="addOrgBtn">Add <i class="fas fa-users"></i></button>
        </form>
      </span>
    </div>

  </section>
  <div class="content-container">
    <!-- Page-specific (main) content here -->
    <main class="container justify-content-center">

      <!-- error/success popups -->

      <!-- <div class="invalid">
        <span>
          <span><i class="fas fa-exclamation-triangle"></i></span>
          <span id="error-msg"></span>
        </span>
      </div>

      <div class="success">
        <span>
          <span><i class="fas fa-check"></i></span>
          <span id="success-msg"></span>
        </span>
      </div> -->

      <section class="search-filter">
        <span class="search">
          <input type="search" name="search-vault" id="search-vault" placeholder="Search">
        </span>
        <span class="filter">
          <a class="btn btn-dark dropdown-toggle" onclick="this.blur();" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </a>
      ​
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
      ​
        </span>
      </section>
      <section id="vault">
        <section class="sites-container">


        </section>
      </section>
    </main>
  </div>
  <!-- add new button -->
  <!-- <span class="add-new">
    <div id="new">
      <i class="fas fa-plus"></i>
    </div>
  </span> -->

</body>

</html>
