<!DOCTYPE html>
<html lang="en">

<head>
  <title>keepr</title>
  <!-- Favicon wont update/ display -->
  <!--   <link rel="shortcut icon" href="../public/images/favicon.ico" /> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap" rel="stylesheet">

  <!-- Styles --------------------------------------------------------------------->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <!-- External JS   -------------------------------------------------------------->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

  <!-- Internal JS  --------------------------------------------------------------->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/copyToClipboard.js"></script>

</head>

<body>

  <%- include('partials/_header') %>

  <!-- Search / Filter Nav Bar -->
  <!-- <div class='filter'>
    <span>
      <form action="" method="">

        <textarea name="text" id="filter-text" placeholder="Filter by Tag: Work, Home, Personal, etc..."></textarea>
        <button class="hoverBtn" type="submit">Filter</button>
      </form>
    </span>
  </div> -->

  <div class="content-container">

    <!-- Page-specific (main) content here -->
    <main class="container justify-content-center">

      <!-- error/success popups -->

      <!-- <div class="invalid">
        <span>
          <span><i class="fas fa-exclamation-triangle"></i></span>
          <span id="error-msg"></span>
        </span>
      </div>

      <div class="success">
        <span>
          <span><i class="fas fa-check"></i></span>
          <span id="success-msg"></span>
        </span>
      </div> -->

      <section class="sites-container">

        <div class="org-bar">
          <div class="orgs-in-bar">
            <span class="specific-org"><i class="fas fa-user"></i>Personal</span>
            <!-- <span class="specific-org"><i class="fas fa-user"></i>Personal</span> -->
          </div>
          <div class="new-org">
            <!-- <span>
            <a class="btn dropdown-toggle" onclick="this.blur();" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>

            </span> -->
            <span>
              <a class="btn" href="#" onclick="this.blur();" role="button">
                Add Site <i class="fas fa-plus"></i>
              </a>
            </span>
            <span>
              <a class="btn" href="#" onclick="this.blur();" role="button">
                Share <i class="fas fa-plus"></i>
              </a>
            </span>
          </div>
        </div>

        <article class="sites">

          <header>
            <span class="edit-delete">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-alt"></i>
            </span>
            <img src="http://placehold.jp/350x116.png">
          </header>

          <footer>
            <div class="card-details">
              <span class="cardTitle">amazon.com</span>
              <span class="accountName">username</span>
              <span class="pwd">4j2o04cx$:][(</span>
            </div>
            <div class="card-action">
              <span><i class="far fa-copy"></i></span>
            </div>
          </footer>

        </article>

        <article class="sites">

          <header>
            <span class="edit-delete">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-alt"></i>
            </span>
            <img src="http://placehold.jp/350x116.png">
          </header>

          <footer>
            <div class="card-details">
              <span class="cardTitle">amazon.com</span>
              <span class="accountName">username</span>
              <span class="pwd">4j2o04cx$:][(</span>
            </div>
            <div class="card-action">
              <span><i class="far fa-copy"></i></span>
            </div>
          </footer>

        </article>

        <article class="sites">

          <header>
            <span class="edit-delete">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-alt"></i>
            </span>
            <img src="http://placehold.jp/350x116.png">
          </header>

          <footer>
            <div class="card-details">
              <span class="cardTitle">amazon.com</span>
              <span class="accountName">username</span>
              <span class="pwd">4j2o04cx$:][(</span>
            </div>
            <div class="card-action">
              <span><i class="far fa-copy"></i></span>
            </div>
          </footer>

        </article>

        <article class="sites">

          <header>
            <span class="edit-delete">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-alt"></i>
            </span>
            <img src="http://placehold.jp/350x116.png">
          </header>

          <footer>
            <div class="card-details">
              <span class="cardTitle">amazon.com</span>
              <span class="accountName">username</span>
              <span class="pwd">4j2o04cx$:][(</span>
            </div>
            <div class="card-action">
              <span><i class="far fa-copy"></i></span>
            </div>
          </footer>

        </article>

        <article class="sites">

          <header>
            <span class="edit-delete">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-alt"></i>
            </span>
            <img src="http://placehold.jp/350x116.png">
          </header>

          <footer>
            <div class="card-details">
              <span class="cardTitle">amazon.com</span>
              <span class="accountName">username</span>
              <span class="pwd">4j2o04cx$:][(</span>
            </div>
            <div class="card-action">
              <span><i class="far fa-copy"></i></span>
            </div>
          </footer>

        </article>

      </section>

    </main>

  </div>

  <!-- add new button -->
  <!-- <span class="add-new">
    <div id="new">
      <i class="fas fa-plus"></i>
    </div>
  </span> -->


</body>

</html>
