<!DOCTYPE html>
<html lang="en">

<head>
  <title>keepr</title>
  <!-- Favicon wont update/ display -->
  <!--   <link rel="shortcut icon" href="../public/images/favicon.ico" /> -->

  <meta charset="utf-8">
  <!-- Styles --------------------------------------------------------------------->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External JS   -------------------------------------------------------------->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

  <!-- Internal JS  --------------------------------------------------------------->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/copyToClipboard.js"></script>

</head>


<header>
  <%- include('partials/_header') %>
</header>

<body>
  <!-- Search / Filter Nav Bar -->
  <div class='filter'>
    <span>
      <form action="" method="">
        <!-- Ideally will be live search (Stretch) -->
        <textarea name="text" id="filter-text" placeholder="Filter by Tag: Work, Home, Personal, etc..."></textarea>
        <button class="hoverBtn" type="submit">Filter</button>
      </form>
    </span>
  </div>



  <!-- Main Area -->
  <main>

    <!-- Side Bar -->
    <!--____________------------======>>>>>>>>  Buttons don't have actions assigned yet <<<<<<<<<<<<-->
    <nav>
      <h1>Navigation</h2>
        <p>NOTE Btn actions not hooked up yet</p>
        <div>
          <h2>Url Management</h2>
          <li>Add Url</li>
          <div>
            <form action="" method="POST">
              <input type="email" name="email" placeholder="Email">
              <input type="text" name="first_name" placeholder="First Name">
              <input type="text" name="last_name" placeholder="Last Name">
              <input type="password" name="password" placeholder="Password">
              <div></div>
              <button type="submit" class="btn">Add User</button>
            </form>
          </div>
        </div>
        <div>
          <h2>Org Management</h2>
          <li>Add Organization</li>
          <div>
            <form action="" method="POST">
              <input type="text" name="orgName" placeholder="Create Organization Name">
              <div></div>
              <button type="submit" class="btn">Add Org</button>
            </form>
          </div>
          <li>Edit Org</li>
          <div>
            <form action="" method="POST">
              <label for="orgstoEdit">Orgs:</label>
              <select name="orgstoEdit" id=orgToEdit>
                <option value="1">Org 1</option>
                <option value="2">Org 2</option>
                <option value="3">Org 3</option>
              </select>
              <div></div>
              <input type="text" name="orgName" placeholder="Edit Org Name">
              <input type="text" name="orgDisplayUrl" placeholder="Edit display url">
              <div></div>
              <button type="submit" class="btn">Edit Org</button>
            </form>
          </div>
        </div>
        <!--____________------------======>>>>>>>>  Buttons don't have actions assigned yet <<<<<<<<<<<<-->
    </nav>

    <!-- Catagory Box / Bar -->
    <article>
      <h3>Category / or Org?</h3>

      <div>
        <span id="test" class="urlInfo">
          <img src="https://i.imgur.com/nlhLi3I.png">
          <h4>Url Name</h4>
          <span class="pwd">Password 1</span>
        </span>

        <span class="urlInfo">
          <img src="https://i.imgur.com/nlhLi3I.png">
          <h4>Url 2 Name</h4>
          <span class="pwd">Password 2</span>
        </span>
      </div>

    </article>
  </main>


</body>

</html>
