<!DOCTYPE html>
<html lang="en">

<head>
  <title>keepr</title>
  <!-- Favicon wont update/ display -->
  <!--   <link rel="shortcut icon" href="../public/images/favicon.ico" /> -->

  <meta charset="utf-8">
  <!-- Styles --------------------------------------------------------------------->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External JS   -------------------------------------------------------------->


  <!-- Internal JS  --------------------------------------------------------------->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/copyToClipboard.js"></script>

</head>


<header>
  <nav>
    <div>keepr</div>
    <div>Logout Place Holder</div>
  </nav>
</header>

<body>
  <!-- Search / Filter Nav Bar -->
  <div class='filter'>
    <span>
      <form action="" method="">
        <!-- Ideally will be live search (Stretch) -->
        <textarea name="text" id="filter-text" placeholder="Filter by Tag: Work, Home, Personal, etc..."></textarea>
        <button class="hoverBtn" type="submit">Filter</button>
      </form>
    </span>
  </div>



  <!-- Main Area -->
  <main>

    <!-- Side Bar -->
    <nav>
      <h1>Navigation</h2>
        <div>
          <h2>Url Management</h2>
          <li>Add Url</li>
          <li></li>
        </div>
        <div>
          <h2>Org Management</h2>
          <li>Change Org</li>
          <li>Add Org</li>

        </div>
    </nav>

    <!-- Catagory Box / Bar -->
    <article>
      <h3>Category / or Org?</h3>

      <div>
        <span id="test" class="urlInfo">
          <img src="https://i.imgur.com/nlhLi3I.png">
          <h4>Url Name</h4>
          <span class="pwd">Password 1</span>
        </span>

        <span class="urlInfo">
          <img src="https://i.imgur.com/nlhLi3I.png">
          <h4>Url 2 Name</h4>
          <span class="pwd">Password 2</span>
        </span>
      </div>

    </article>
  </main>
</body>

</html>
