// See: https://sass-lang.com/
$headerColor: #C0392B;
$white: #fff;
$darkGray: #4F4F4F;
$mainBackgroundColor: rgb(158, 158, 158);


body {
  background-color: $mainBackgroundColor;

  h1 {
    color: #244751;
  }
}

header {
  background-color: $headerColor;
  height: 100px;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    height: 100%;
  }

}

.filter{
  display: flex;
  justify-content: flex-end;
  background-color: $darkGray;
}

main{
  background-color: white;
  display: flex;
  padding: 1em;
  article{
    width: 75%;
    border-bottom: 3px,solid, red;
    display: flex;
    flex-direction: column;
    div{
      display:flex;
      justify-content: space-around;

    }
    .urlInfo{
      display: flex;
      flex-direction: column;
    }

    span{
      padding: 1rem;
      &:hover{
        background-color: lightblue;
      }
    }
  }
}
