// See: https://sass-lang.com/
$white: #fff;
$darkGrey: #4F4F4F;
$lightGrey: #6E6E6E;
$darkRed: #C0392B;
$lightRed: #E74C3C;

@mixin strong-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
}

@mixin regular-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

@mixin light-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
}

@mixin transition-out {
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

@mixin transition-in {
  -webkit-transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include regular-text;
}

body {
  background-color: $white;
}

header#main-header {
  background-color: $darkRed;
  color: #fff;
  height: 100px;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    a.navbar-brand {
      @include strong-text;
      @include transition-out;
      font-size: 2.2em;
      &:hover {
        opacity: 0.8;
        @include transition-in;
      }
    }

    .nav-login-register {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      form {
        margin-left: 0.5em;
      }
    }
  }
}

section.nav-org-bar {
  height: 75px;
  background-color: $darkGrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;

  .orgs-in-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .specific-org {
      margin-right: 1.5em;
      padding: 1em;
      height: 100%;
      display: flex;
      align-items: center;
      @include transition-out;
      &:hover {
        background-color: $lightGrey;
        cursor: pointer;
        @include transition-in;
      }

      i {
        padding-right: 0.8em;
      }
    }
  }

  .new-org {

    input.new-org-input {
      border: 2px $darkGrey solid;
      outline: none;
      padding: 0.5em;
      cursor: text;
      overflow: hidden;
      text-align: initial;
      text-overflow: ellipsis;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      width: 300px;
      background-color: #989898;
      @include transition-out;
      &:focus {
        background-color: #fbfbf8;
        @include transition-in;
      }
    }

    span form#formAddOrg {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

  }

  .new-org button {
    color: white;
    background-color: $darkGrey;
    border: none;
    margin-right: 1.5em;
    padding: 0.55em;
    border-radius: 0;
    @include transition-out;
    &:hover, &:active, &:focus {
      background-color: $lightGrey;
      border: none;
      outline: none;
      @include transition-in;
    }


    i {
      margin-left: 0.5em;
      font-size: 0.8em;
    }
  }
}

main.container {
  margin-top: 20px;

  section.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

    input[type="search"] {
      border: 2px $darkGrey solid;
      outline: none;
      padding: 0.5em;
      cursor: text;
      overflow: hidden;
      text-align: initial;
      text-overflow: ellipsis;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      width: 300px;
      @include transition-out;
      &:focus {
        background-color: #fbfbf8;
        @include transition-in;
      }
    }

  }

  section.sites-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .org-bar {
      width: 100%;
      background-color: $lightRed;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .orgs-in-bar {
        display: flex;
        justify-content: flex-start;

        .specific-org {
          margin-right: 1.5em;
          padding: 1em;

          i {
            padding-right: 0.8em;
          }

        }

      }

      .new-site {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          height: 100%;
          padding: 1em;
          @include transition-out;
          &:hover {
            background-color: $darkRed;
            cursor: pointer;
            @include transition-in;
          }

          a {
            height: 100%;
            color: white;

            .btn:focus {
              outline: none;
              box-shadow: none;
            }
          }

          i {
            margin-left: 0.4em;
            font-size: 0.8em;
          }

        }
      }
    }
  }
}

article.sites {
  display: flex;
  flex-direction: column;
  height: 233px;
  width: 350px;
  margin: 10px;
  @include transition-out;

  &:hover {
    box-shadow: 4px 4px $darkGrey;
    @include transition-in;
  }

  header {
    height: 100%;
    display: flex;
    position: relative;

    .edit-delete {
      padding: 0.8em;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      i {
        padding: 0 0.2em;
        &:hover {
          cursor: pointer;
          color: white;
          -webkit-transition: all ease-out 0.2s;
          -moz-transition: all ease-out 0.2s;
          -o-transition: all ease-out 0.2s;
          transition: all ease-out 0.2s;
        }
      }

    }

  }

  footer {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: $lightRed;

    .card-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      padding: 1em;

      .cardTitle {
        font-weight: bold;
        border-bottom: 3px $darkRed solid;
        padding-bottom: 5px;
      }

      .pwd {
        font-style: italic;
      }

    }
    .card-action {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1em;
      font-size: 1.5em;
      &:hover {
        cursor: pointer;
        background-color: $darkRed;
        color: white;
        -webkit-transition: all ease-out 0.7s;
        -moz-transition: all ease-out 0.7s;
        -o-transition: all ease-out 0.7s;
        transition: all ease-out 0.7s;
      }
    }

  }
}

section.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header.login-header {
    padding: 2em 0;
    h3 {
      font-weight: 700;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    button {
      background-color: $darkRed;
      border-color: $darkRed;
      &:hover{
        background-color: $lightRed;
        border-color: $darkRed;
      }
    }

    button#create-acc {
      background-color: $darkGrey;
      border-color: $darkGrey;
      &:hover{
        background-color: $lightGrey;
        border-color: $darkGrey;
      }
    }

    input {
      width: 300px;
    }

  }

  span.divider {
    margin: 1em 0;
    font-weight: 700;
  }

}

section.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header.register-header {
    padding: 2em 0;
    h3 {
      font-weight: 700;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    button {
      background-color: $darkRed;
      border-color: $darkRed;
      &:hover {
        background-color: $lightRed;
        border-color: $darkRed;
      }
      &:focus {
        background-color: $lightRed;
        border-color: $darkRed;
      }
    }

    input {
      width: 300px;
    }

  }

  span.divider {
    margin: 1em 0;
    font-weight: 700;
  }

}

// org-bar edit action styling

header.org-site-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 10px;

  div.org-edit-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  div.add-site-form {
    display: none;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;

    h4 {
      font-weight: 700;
    }

    form div.site-details-container {
      padding-bottom: 1.5em;

      h4 {
        padding-bottom: 0.5em;
      }
    }

    input[type="text"], input[type="email"], input[type="url"] {
      padding: 0.4em;
      border: 2px $darkGrey solid;
      outline: none;
      padding: 0.5em;
      cursor: text;
      overflow: hidden;
      text-align: initial;
      text-overflow: ellipsis;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }

    input.dynPasswordInput {
      background-color: $lightGrey;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    div.update-actions {
      display: flex;
      align-items: center;

      button {
        margin-right: 1em;
      }

    }

    input.site-detail-length {
      margin-right: 0.5em;
    }

    .form-check-label {
      padding-right: 1.2em;
    }

    button {
      background-color: $darkRed;
      border-color: $darkRed;
      margin-top: 0.5em;
      &:hover{
        background-color: $lightRed;
        border-color: $darkRed;
      }
    }

  }

  div.share-org-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

footer.card-list {
  display: flex;
  flex-wrap: wrap;
}

table.table {

  thead th {
    font-weight: 700;
    border-top: none;
  }

  td form input.emailInputTable {
    padding: 0.4em;
    width: 80%;
  }

  button.tableShareForm {
    padding: 0.4em;
    width: 80%;
  }

  tbody tr.invite-user-row {
    background-color: rgb(245, 245, 245);
  }

}
